/* give ourselves some decent defaults */

html.jinx-page, html.jinx-page body {
	width: 100%;
	height: 100%;
}

body {
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

#passages {
	max-width: 38em;
	margin: 0 auto;
	line-height: 145%;
}

.layer .asset {
	opacity: 0;
}

/*a {
	color: #222;
	text-decoration: none;
	border-bottom: 2px solid #bbb;
}

a:hover {
	color: #cc8929;
	border-color: #cc8929;
}

a:active {
	color: #ffb040;
	border-color: #ffb040;
}*/

tw-storydata {
	display: none;
}

/* scale font sizes for phones */

@media screen and (max-device-width: 480px) {
	#passages {
		font-size: 70%;
	}
}

/* basic panel settings */

.panel {
	position: relative;
	height: 300px; width: 300px;
}

.layer, .layer .asset {
	position: absolute;
	top: 0; left: 0;
}

.layer {
	width: 100%;
	height: 100%;
}

.layer .asset {
	/* Unclear what removing the following will break: */
	/*width: 100%;
	height: 100%;*/
	/* get a preprocessor you jamoke */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* WAND */

.panel.wand {
	transition: border-bottom .1s;
	border-bottom: 4px solid #ddd;
}

.panel.wand.active {
	border-bottom-color: #f08;
	cursor: pointer;
}

.panel.wand.active.will-transition {
  border-bottom-color: #f80;
}

.panel.wand.active:hover, .panel.wand.loading {
	border-bottom-width: 8px;
}

button.wand {
  position: fixed;
  bottom: 3em;
  right: 3em;
  width: 9em;
  height: 9em;
  border: none;
  border-radius: 1em;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

button.wand.active, button.wand.loading {
  opacity: 1;
}

button.wand.active {
  background-color: #f08;
}

button.wand.active.will-transition {
  background-color: #f80
}

button.wand.loading {
  background-color: #ddd;
}

.layer.css-border {
	/* user, supply thine own image */
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	/* default effect, to negate pop-in */
	animation: fade-in .2s;
}

@keyframes fade-in {
  from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
